torch
torchvision
transformers
modelscope
TensorFlow==2.12.1
keras==2.12.0
opencv-python
matplotlib
pycocotools
timm
SentencePiece
tf_slim
tf_keras
pyclipper
shapely
supervision==0.21.0
Flask
flask-cors
flask-socketio
opencv-python
numpy
python-magic